<!DOCTYPE html>
<html>
<head>
	<title>Applications</title>
	<link rel="shortcut icon" href="https://www.wwf.org.uk/sites/default/files/favicon.ico"/>
  <!-- Core widget js and css -->
  <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.7.0/js/okta-sign-in.min.js" type="text/javascript"></script>
  <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.7.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet">
  <link href="custom-okta-login.css" type="text/css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="/stylesheets/forest.css">
</head>
<body>

<div class="container">
<ul class="app-button-list clearfix ">
	<% apps.forEach(function(app){ %>
		<li>
			 <img class="app-button-wrapper" src="<%= app.logoUrl %>" >
			 <p><%= app.label %></p>
		</li>
	<% }); %>
</ul>
</div>
</body>
</html>