<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="https://www.wwf.org.uk/sites/default/files/favicon.ico"/>
  <!-- Core widget js and css -->
  <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.7.0/js/okta-sign-in.min.js" type="text/javascript"></script>
  <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.7.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet">
  <link href="custom-okta-login.css" type="text/css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="/stylesheets/registration.css">
</head>
<body>
    <div class="w3-container" id="SignIn">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-12">Registration</h3>
    </div>
<div id="bg">
  <div class="module">

    <form class="form">
      <input type="text" placeholder="First Name" class="textbox" />
      <input type="text" placeholder="Last Name" class="textbox" />
      <input type="text" placeholder="Email Address" class="textbox" />
      <input type="text" placeholder="Password" class="textbox" />
      <select name="securityQuestion" class="security-question-dropdown x-created textbox">
                            <optgroup>
                              <option value="" selected="">Recovery Question</option>
                                <option value="disliked_food">What is the food you least liked as a child?</option>
                                <option value="name_of_first_plush_toy">What is the name of your first stuffed animal?</option>
                                <option value="first_award">What did you earn your first medal or award for?</option>
                                <option value="favorite_security_question">What is your favorite security question?</option>
                                <option value="favorite_toy">What is the toy/stuffed animal you liked the most as a kid?</option>
                                <option value="first_computer_game">What was the first computer game you played?</option>
                                <option value="favorite_movie_quote">What is your favorite movie quote?</option>
                                <option value="first_sports_team_mascot">What was the mascot of the first sports team you played on?</option>
                                <option value="first_music_purchase">What music album or song did you first purchase?</option>
                                <option value="favorite_art_piece">What is your favorite piece of art?</option>
                                <option value="grandmother_favorite_desert">What was your grandmother's favorite dessert?</option>
                                <option value="first_thing_cooked">What was the first thing you learned to cook?</option>
                                <option value="childhood_dream_job">What was your dream job as a child?</option>
                                <option value="place_where_significant_other_was_met">Where did you meet your spouse/significant other?</option>
                                <option value="favorite_vacation_location">Where did you go for your favorite vacation?</option>
                                <option value="new_years_two_thousand">Where were you on New Year's Eve in the year 2000?</option>
                                <option value="favorite_speaker_actor">Who is your favorite speaker/orator?</option>
                                <option value="favorite_book_movie_character">Who is your favorite book/movie character?</option>
                                <option value="favorite_sports_player">Who is your favorite sports player?</option>
                                </optgroup>
                            <optgroup label="Custom question">
                                <option value="custom">Create your own security question</option>
                            </optgroup>
                        </select>
      <input type="text" placeholder="Recovery Answer" class="textbox" />
      <input type="button" value="Next" class="button" />
    </form>
  </div>
</div>

<!-- Footer -->
    <footer class="w3-center w3-padding-16" style="background-color:">
      <p>Copyright 2016 <span class="w3-hover-text-green">Maneesha Wijesighe</span></p>
    </footer>
</body>
</html>
